__pycache__/
experiments/
concept.egg-info/*
*/mcmc_exp/*
*/agent_exp/*
*/policy_exp/*
*/mse_exp/*
*/losses_tf.py
*/mcmc_tf.py
*/particle_oracle/*
*/trajectory/*
*/particle/*
data_0*
data/*
!data/*.py
test/*
!test/*.py